.navbar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    pointer-events: none;
}

.navbar-overlay .nnav {
    pointer-events: auto;
}

.navbar-overlay-content {
    height: 100%;
    width: 100%;
    padding-top: 100px;
    box-sizing: border-box;
}
